/* Menu  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Bars */

.array-container {
  width: 80%;
  height: 100vh;
  border: 1px solid black;
  /* position: absolute; */
  margin: auto;
  /* left: 100px; */
}

.array-bar-container {
  width: 80%;
  margin: 5% auto;
  border: 1px solid pink;
}

.array-bar {
  width: 4px;
  max-width: 100%;
  background-color: pink;
  display: inline-block;
  margin: 0 1px;
}
